@import url("../cards/card.css");
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
*{
    /* border: 1px solid red; */
    font-family: 'Titillium Web', sans-serif;
}
:root{
    --yours-green : #047857;
    --orange : orange;
}
body, html{
    margin: 0;
    padding: 0;
}
.card__container{
    border-radius: 0.2rem;
    /* border : 1px solid transparent; */
    overflow : hidden;
    display: flex;
    width: 15rem;
    height: 25rem;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content : flex-end;
    position: relative;
    
}
.product--desc{
    padding: 0.75rem  0.75rem 0.25rem 0.75rem ;
    flex-grow: 2;
}
.product--name{
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 0.4rem;
    line-height: 1rem;
}
.product--info{
    color: var(--subtext-grey);
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    font-weight: 400;
    font-size: 0.85rem;
    line-height: 0.75rem;
}
.product--price{
    line-height: 0.75rem;
    color : var(--black);
    font-weight: 400;
    padding: 0.1rem 0.05rem 0.2rem 0.05rem;
}
.price{
    font-weight: 600;
    font-size: 1rem;
    color: var(--black);
    padding: 0.1rem 0.05rem 0.2rem 0.05rem;
}
.strike--price{
    font-size: 0.8rem;
    font-weight: 500;
    text-decoration: line-through;
    color: var(--subtext-grey);
    padding: 0.1rem 0.05rem 0.2rem 0.05rem;
}
.discount{
    font-size: 0.8rem;    
    font-weight: 400;
    color : var(--orange);
}
.rounded{
    border-radius: 3%;
}
.overflow-hidden{
    overflow: hidden;
}
.shadow-lg{
    box-shadow: inset 0 -1em 1em rgba(0,0,0,0.1),
    0 0  0 1px rgb(233, 224, 224),
    0.1em 0.1em 1em rgba(0,0,0,0.3);;
    /* try to give drop shadow */
}
.box { 
    /* height: 40rem; */
    /* width: 40rem; */
} 
/* .square{ */
    /* max-width: 100%; */
/* } */
.w-full{
    max-width: 60%;
}
.px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.py-4{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.pt-4{
    padding-top: 1rem;
}
.pb-2{
    padding-bottom: 0.5rem;
}
.px-3{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.py-1{
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.font-bold{
    font-weight: 700;
}
.text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.mb-2{
    margin-bottom: 0.5rem;
}
.text-gray-700{
    --tw-text-opacity: 1;
    color: rgba(55, 65, 81, var(--tw-text-opacity));
}
.text-base{
    font-size: 1rem;
    line-height: 1.5rem;
}
.text-sm{
    font-size: .875rem;
}
.inline-block{
    display: inline-block;
}
.bg-gray-200{
    --tw-bg-opacity: 1;
    background-color: rgba(229, 231, 235, var(--tw-bg-opacity));    
}
.rounded-full{
    border-radius: 9999px;
}
.font-semibold{
    font-weight: 600;
}
.mr-2{
    margin-right: 0.5rem;
}
.p-10{
    padding: 2.5rem;
}
.grid{
    display: grid;
}
.grid-cols-1{
    grid-template-columns: repeat(6, minmax(auto, 1fr));
}
.gap-5{
    gap : 1.25rem;
}
.pos{
    position: absolute;
    opacity: 30%;
    bottom: 33%;
    right: 5%;
    color: var(--yours-green);
    background-color: var(--light-yours-green);
    border-radius: 50%;
    border: transparent;
    padding: 0.5rem 0.5rem 0.4rem 0.5rem;
}
.flex__container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    /* max-width: 80%; */
    height: 450px;
    justify-content: center;
}
.img__container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    max-width: 70%;
    flex-shrink: 6;
    /* filter: drop-shadow(1px 1px 1px gray); */
    /* border: 1px solid black; */
}
.button__container{
    max-width: 15rem;
    padding: 0 0.1rem 0.1rem 0.1rem;
}
.card__container :hover .pos{
    opacity: 1;
    /* max-width: 120%; */
}
.pos:hover{
    opacity: 100%;
    bottom: 35%;
    transition: all 0.2s ease-in-out;
}